{% extends "layout/base.html" %}

{% block content %}
<h1><font color = "351930">Portofolio </font></h1>
<hr/>
<section name="bio">
    <h2> <font color = "351930"> Bio</font> </h2>
    <p>
        <font color = "9C2052" size= 4px>
        {{content}}
        </font>
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2><font color = "351930">List</font></h2>
    <ul>
        <font color = "9C2052" size= 4px>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
        </font>
    </ul>
<hr/>
</section>
<section name="form">
    <h2><font color = "351930">Send Message</font></h2>
    <form id = "form" method="POST" action="{% url 'lab-4:add_message' %}">
        <font color = "9C2052" size= 3px>
        {% csrf_token %}
        {{ message_form}}
        </font>
        <br>
        <button type = "submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
