{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<style>
    .img-circle{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border: 2px solid #9D9F93;
        margin:10px 150px 15px 475px;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body style = "background-color : #DDDDDD">
    <header style = "background-color : #DDDDDD">
        {% include "partials/header.html" %}
    </header>
    <content>
        <div class="container">
            <img class = "img-circle" src = "https://78.media.tumblr.com/23a2361cafbb51a952d9fcd4725fcde0/tumblr_owuu7elQ9R1wxl5jyo2_250.png" alt = "coba">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
            
        </div>

    </content>
    <footer style = "background-color : #DDDDDD">
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
