{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }

    .title {
        color: #8D7966;
        font-family: "Oswald";
        font-size: 30px;
        font-weight: bold;
    }
</style>
<div class="center_screen">
    <p class= "title"> Hello, this is {{ name }}. </p>
    <p class="status" id="test">{{ content }}.</p>
</div>
{% endblock %}